* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(7, 21, 7), rgb(36, 1, 39));
  font-family: 'Arial', sans-serif;
}

.calculator {
  border: 1px solid #717377;
  padding: 20px;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  border-radius: 10px;
  background-color: #1e1e1e;
  max-width: 360px;
}


input {
  width: 100%;
  padding: 10px;
  font-size: 40px;
  border: none;
  background-color: transparent;
  text-align: right;
  box-shadow: 0px 3px 15px rgba(84, 84, 255, 0.1);
  color: white;
  margin-bottom: 20px;
}
input::placeholder {
  color: white;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  margin: 5px;
  background-color: #333;
  box-shadow: -8px -8px 15px rgba(113, 115, 119, 0.5), 8px 8px 15px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer;
}



@media (max-width: 768px) {
  .calculator {
      max-width: 280px;
      padding: 15px;
  }

  button {
      width: 50px;
      height: 50px;
      font-size: 18px;
  }

  input {
      font-size: 32px;
  }
}

@media (max-width: 480px) {
  .calculator {
      max-width: 240px;
      padding: 10px;
  }

  button {
      width: 40px;
      height: 40px;
      font-size: 16px;
  }

  input {
      font-size: 28px;
  }
}

@media (max-width: 320px) {
  .calculator {
      max-width: 200px;
      padding: 5px;
  }

  button {
      width: 35px;
      height: 35px;
      font-size: 14px;
  }

  input {
      font-size: 24px;
  }
}
